<!DOCTYPE html>
<html>
  <head>
    <title>ACV-Ecommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="mainWrapper">
      <%= render "shared/application_nav" %>
      <div class="container" id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
